/* .head {
    background-color: darkgreen;
}

.tail {
    background-color: #adff2f;
}

.apple {
    background-color: red;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.board {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

td {
    height: 25px;
    width: 25px;

    background-color: #444;
    border-radius: 2px;
}

h1,
h2 {
    color: #ffffff
}

.score {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    border-left: 3px solid red;
    background-color: rgb(138, 0, 0);
    padding: 10px;
    font-size: 30px;
}

.settings {
    position: absolute;
    top: 0;
    left: 10px;
    color: #ffffff;
}

label>* {
    font-size: 20px;
    margin: 3px;
}

input,
select {
    color: white;
    width: 70px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid red;
    text-transform: uppercase;
    height: 40px;
}

select {
    width: 100px;
    text-transform: capitalize;
    text-align: center;
}

#start {
    font-size: 20px;
}

.color {
    display: flex;
    align-items: center;
}

.invisible {
    opacity: 0;
}

h2 {
    font-size: 40px;
    margin-top: 3em;
}